###############################################################################
# Paperless-ngx settings                                                      #
###############################################################################

# See http://docs.paperless-ngx.com/configuration/ for all available options.

# The UID and GID of the user used to run paperless in the container. Set this
# to your UID and GID on the host so that you have write access to the
# consumption directory.
USERMAP_UID=1000
USERMAP_GID=1000

# See the documentation linked above for all options. A few commonly adjusted settings
# are provided below.

# This is required if you will be exposing Paperless-ngx on a public domain
# (if doing so please consider security measures such as reverse proxy)
#PAPERLESS_URL=https://paperless.example.com

# Adjust this key if you plan to make paperless available publicly. It should
# be a very long sequence of random characters. You don't need to remember it.
# Command for generating: openssl rand -hex 128
PAPERLESS_SECRET_KEY=change-me

# Use this variable to set a timezone for the Paperless Docker containers. Defaults to UTC.
PAPERLESS_TIME_ZONE=Europe/Berlin

# The default language to use for OCR. Set this to the language most of your
# documents are written in.
PAPERLESS_OCR_LANGUAGE=deu

# Additional languages to install for text recognition, separated by a whitespace.
# Note that this is different from PAPERLESS_OCR_LANGUAGE (default=eng), which defines
# the language used for OCR.
# The container installs English, German, Italian, Spanish and French by default.
# See https://packages.debian.org/search?keywords=tesseract-ocr-&searchon=names&suite=buster
# for available languages.
PAPERLESS_OCR_LANGUAGES=deu eng

# Enter your own domain behind localhost here if you are using a proxy host, otherwise delete this environment variable.
PAPERLESS_ALLOWED_HOSTS="localhost,paperless.domain.de"

# Adjust here if you want a different folder structure.
# See https://docs.paperless-ngx.com/advanced_usage/#filename-format-variables
# PAPERLESS_FILENAME_FORMAT: "{created_year}/{correspondent}/{title}"

# Enter your own domain behind localhost here if you are using a proxy host, otherwise comment this environment variable.
# PAPERLESS_ALLOWED_HOSTS: "localhost,paperless.domain.de"

# Number of rotated log files to keep.
PAPERLESS_LOGROTATE_MAX_BACKUPS=20

# Paperless does multiple things in the background: Maintain the search index, maintain the automatic matching
# algorithm, check emails, consume documents, etc. This variable specifies how many things it will do in parallel.
# Default: 1
PAPERLESS_TASK_WORKERS=1

# Enables the detection of barcodes in the scanned document and setting the ASN (archive serial number) if a properly
# formatted barcode is detected. Default: false
PAPERLESS_CONSUMER_ENABLE_ASN_BARCODE=true
